
h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    border: 0.01in solid rgb(160, 237, 243);
    border-radius: 5px;
    
}
h1,h2 {
    color: rgb(206, 141, 20);
}
hr {
    margin: 0 0.2cm 0.2cm 0.2cm;
}
li {
    padding-top:8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
}
.meeting {
    background-color:rgb(228, 225, 225);
    display:block;
    margin: 0 2% 0 2%;
    padding: 15px 15px 15px 15px;
    border:10%;
    border-color: rgb(160, 237, 243);
    border-style: solid;
}
#meetings-list {
    margin-left: 2%;
}
#upper-screen {
    background-color: rgb(228, 225, 225);
    margin: 0 1em 0 1em;
    padding: 10px;
    border:5%;
    border-color: rgb(74, 77, 77);
    border-style: solid;

}
/* em for font size, vh and vw for viewport height and width,  */